<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>
  
</head>
<body>
    <header>
        <div class="container header-pad">
            <div class="row">
                <div class="col-3">
                    <img class="logo-header" src="~/Content/Pictures/log.jpg" alt="">
                </div>
                <div class="col-5 null-padd">
                    @Html.Partial("_Menu")
                </div>
                <div class="col-4 log-reg">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer footer-main"></footer>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome")
    @RenderSection("scripts", required: false)
</body>
</html>
