
@model IEnumerable<Network.Views.ViewModels.UserListViewModel>


@if (Model.Count()>0)
{
    foreach (var item in Model)
    {
        <div class="row item-user">
            <div class="col-md-3">
                @if (item.Image != null)
                {
                    <div>
                        <img class="user-img" src="data:image/png;base64, @Convert.ToBase64String(item.Image)" />
                    </div>
                }
                else
                {
                    <div>
                        <img class="user-img" src="@Url.Content("~/Content/Pictures/default.jpeg")" alt="">
                    </div>
                }
            </div>
            <div class="col-md-4" style="padding-top: 72px;">
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Surname)
            </div>
            <div class="col-md-4" style="padding-top: 72px;">
                @Html.DisplayFor(modelItem => item.Direction)
            </div>
        </div>
        <br />
    }
}
else
{
    @*<div class="body-background">
        <div class="secretary">*@
            <div class="row item-user">
                НЕТ ПОЛЬЗОВАТЕЛЕЙ ПО ЗАДАННОМУ НАПРАВЛЕНИЮ!
            </div>
    @*</div>*@
}

