
@model IEnumerable<Network.Views.ViewModels.GroupViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "User")"><span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-arrow-left"></span></a></li>
               
                @if (User.IsInRole("secretary"))
               {
                <li id="addGroupModal" onclick="addGrModal(this)" data-url='@Url.Action("CreateGroup", "Group", null)'><a href="#">Добавить группу<span></span></a></li>
               }


                @if (!User.IsInRole("secretary"))
                {
                    <li><a href="@Url.Action("GroupsForUser", "Group")"><span style="font-size: 16px;" class="pull-right hidden-xs showopacity">Мои группы</span></a></li>
                }
          
            </ul>
        </div>
    </div>
</nav>

<div class="row page" align="center">
    Группы
    
</div>

<div class="jumbotron">
        <div class="row ">
        <div class="col-md-2 bold">
            Номер
        </div>

        <div class="col-md-4 bold">
            Специализация
        </div>

        <div class="col-md-3 bold">
            Руководитель
        </div>
    </div>   
</div>

<div class="jumbotron container-show">

    <div class="row">
        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.Id)
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Number)
                </div>

                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Specialization)
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.NameHead)
                </div>

                <div class="col-md-3 btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><span>...</span></button>
                    <ul class="dropdown-menu">
                        <li id="listMem" onclick="openModal(this)" data-url='@Url.Action("ListMembersOfGroup", "Group",new { id=item.Id})'><a href="#">Участники<span style="font-size: 16px;"></span></a></li>
                        @*@if (User.IsInRole("team_lead"))
                        {                            
                            <li id="joinToGroup" onclick="joinToGroup(this)" data-url='@Url.Action("AddToGroup", "Group",new { id=item.Id})'><a href="#">Присоединиться к группе<span style="font-size: 16px;"></span></a></li>
                        }*@

                        @if (User.IsInRole("secretary"))
                        {
                            <li id="deletGroup" onclick="deletGroup(this)" data-url='@Url.Action("DeleteGroup", "Group",new { id=item.Id})'><a href="#">Удалить<span style="font-size: 16px;"></span></a></li>
                        }
                    </ul>
                </div>

            </div>


                <div id="listMemm" class="modal fade" >
                    <div id="listContainer">
                    </div>
                </div>

                @*<div id="joinMod" class="modal fade" >
                    <div id="joinContainer">
                    </div>
                </div>*@

                <div id="delGroup" class="modal fade" >
                    <div id="delContainer">
                    </div>
                </div>

                <hr />
        }
    </div>
</div>







    <div id="addModal" class="modal fade" data-url='@Url.Action("GetContact", "Group", null)'>
        <div id="addGroupContainer">
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            document.ready=(function () {

                $('#addGroupModal').click(function () {
                    var url = $('#addModal').data('url');

                    $.get(url,
                        function (data) {
                            $('#addGroupContainer').html(data);

                            $('#addModal').modal('show');
                        });

                });          
            })()

            function addGrModal(element) {
                var url = $(element).data('url');
                $.get(url,
                    function (data) {
                        $('#addGroupContainer').html(data);

                        $('#addModal').modal('show');
                    });

            };


            function openModal(element) {
                var url = $(element).data('url');
                $.get(url,
                    function (data) {
                        $('#listContainer').html(data);

                        $('#listMemm').modal('show');
                    });

            };

            function deletGroup(element) {
                var url = $(element).data('url');
                debugger;
                $.get(url,
                    function (data) {
                        $('#delContainer').html(data);

                        $('#delGroup').modal('show');
                    });

            };


            //function joinToGroup(element) {
            //    var url = $(element).data('url');

            //    $.get(url,
            //        function (data) {
            //            $('#joinContainer').html(data);

            //            $('#joinMod').modal('show');
            //        });

            //};
        </script>
    }

