@model Network.Views.ViewModels.OpenGroupViewModel

@{
    ViewBag.Title = "OpenGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.HiddenFor(x => Model.Id, new { @id = "groupId" })

<div style="margin-left:25px; margin-right:20px;">

    <div class="row menu-page menu-cont">

        <div class="col-md-4 item-menu text-menu-page">
            <a class="text-menu-page">@Model.NameProject</a>
        </div>
        <div class="col-md-4 item-menu text-menu-page">
            проект с @Html.DisplayFor(m => m.DateStart, "{0:MM/dd/yy}") по @Html.DisplayFor(m => m.DateFinish, "{0:MM/dd/yy}")
        </div>

        <div class="col-md-4 item-menu text-menu-page">
            <a class="text-menu-page">@Model.Head.Name @Model.Head.Surname</a>
        </div>      
        
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="container select-resourse">
                <label class="add-resource">ДОБАВЛЕНИЕ РЕСУРСА</label>
                    <div class="row" style="padding:10px; ">
                        <input id="resourcId" type="file" style="padding:7px;" class="btn-select" name="Resource" />

                        <label class="element-pad comment" style="margin:25px 0 7px 30px;">ВАШ КОММЕНТАРИЙ</label>

                        <textarea id="commentsId" class="form-control element-pad" name="Comments" rows="3"></textarea>

                        <button id="selectRes" class="btn button-large element-pad" style="margin:10px 10px 10px 50px;" type="submit">ДОБАВИТЬ</button>
                    </div>
            </div>
        </div>
    </div>

<div class="col-4">
    <div class="row">
        <div class="container container-resource">
            <label class="add-resource" style="padding-left: 120px;">ЗАГРУЖЕННЫЕ РЕСУРСЫ</label>

            <div class="list-resource">
                <div id="resourceItems">
                </div>
            </div>

        </div>
    </div>

</div>


            <div class="col-4">
                <div class="user-list-container">
                    @if (Model.Members == null)
            {
            <p>
                СПИСОК УЧАСТНИКОВ ПУСТ
            </p>
            }
            else
            {
                foreach (var member in Model.Members)
                {
            <div class="row container" style="padding:10px;">
                @if (member.Image == null)
                        {
                        <img class="img-member " src="@Url.Content("~/Content/Pictures/default.jpeg")" alt="">
                        }
                        else
                        {
                        <img class="img-member" src="data:image/png;base64, @Convert.ToBase64String(member.Image)" />
                        }
                <div style="padding: 25px 10px 10px 10px;">
                    @member.Name
                    @member.Surname
                </div>


            </div>
                }

            }
                </div>
            </div>
        </div>


        @section Scripts{
            <script type="text/javascript">
                $(document).ready(function () {

                    $("#selectRes").click(function () {
                        
                        var fileUpload = $("#resourcId").get(0);
                        var files = fileUpload.files;
                        var fileData = new FormData();
                        for (var i = 0; i < files.length; i++) {
                            fileData.append("Resource", files[i]);
                        }
                       
                        fileData.append("GroupId", $("#groupId").val());
                        fileData.append("Comments", $("#commentsId").val());

                        $.ajax({
                            url: "/Group/AddResource",
                            method: "POST",
                            async: false,
                            processData: false,
                            contentType: false,
                            data: fileData,
                            success: function (data) {
                                $("#searchResults").html(data);
                                $("#commentsId").val('');
                                $("#resourcId").val('');
                            }
                        });

                    });
                });
            </script>
        }

