@model List<Network.Views.ViewModels.AducationInfo>

@if (Model != null)
{
   
    <div class="text-style-info" style="padding-left:80px;">
        ОБРАЗОВАНИЕ
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="null-left-pad text-style-info">
                    @Html.DisplayFor(a => Model.First().University)
                </div>

                <div class="null-left-pad text-style-info" >
                    @Html.DisplayFor(a => Model.First().StartYear) - @Html.DisplayFor(a => Model.First().GradYear)
                </div>
            </div>

            @for (var i=1;i<Model.Count;i++)
            {
                <div class="carousel-item">
                    <div class="null-left-pad text-style-info">
                        @Html.DisplayFor(a => Model[i].University)
                    </div>
                    <div class="null-left-pad text-style-info">
                        @Html.DisplayFor(a => Model[i].StartYear) - @Html.DisplayFor(a => Model[i].GradYear)
                    </div>

                </div>
            }
        </div>
        <a class="carousel-control-prev" style="margin-left:-100px;" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущая</span>
        </a>
        <a class="carousel-control-next" style="margin-right:40px;" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующая</span>
        </a>
    </div>

}
