@model Network.Views.ViewModels.UserIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@if (Model != null)
{
    if (!User.IsInRole("secretary"))
    {
        <div class="row" style="MARGIN-TOP: -24PX;">

            <div class="col-md-5">
                @if (Model.Image != null)
                {
                    <div class="main-image hovereffect">

                        <img src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
                        <div class="overlay">
                            <a class="info" href="#" id="changeId" style="padding-top:120px;">ИЗМЕНИТЬ ФОТО</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="main-image">
                        <div class="hovereffect">
                            <img class="size" src="@Url.Content("~/Content/Pictures/default.jpeg")" alt="">
                            <div class="overlay">
                                <a class="info link-inf" href="#" id="changeId" style="padding-top:120px;">ИЗМЕНИТЬ ФОТО</a>
                            </div>
                        </div>

                    </div>


                }
            </div>
            <div class="col-md-7">
                <div class="body-background">

                    <div class="row menu-page" style="margin-top: 24px;">
                        <div id="persInfo" class="item-menu text-menu-page hover">МОЙ ПРОФИЛЬ</div>
                        @Html.ActionLink(" ", "EditPersInfo", "User", null, new { @class = "item-menu item-icon fa fa-cog hover", @id = "editPer" })
                        <div id="aducId" class="item-menu text-menu-page hover">ОБРАЗОВАНИЕ</div>
                        @Html.ActionLink(" ", "AddAducation", "User", null, new { @class = "item-menu item-icon fa fa-plus hover", @id = "addAduc" })
                    </div>
                </div>

                <div class=" null-left-pad">
                    <div class="row title-head">
                        @Html.DisplayFor(model => model.Name)
                        @Html.DisplayFor(model => model.Surname)
                    </div>

                    <div id="persInfo">
                        <div class="text-style-info" style="padding-left:80px;">
                            ЛИЧНЫЕ ДАННЫЕ
                        </div>

                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Skype)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Skype)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                       

                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Direction)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Direction)
                            </div>
                        </div>
                    </div>


                    @if (Model.Aducation.Count()>0)
                    {
                        <div id="aducInfo" class="hid">
                            @Html.Partial("_AducationInfo", Model.Aducation)
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="body-background">

            <div class="secretary">
                Вы вошли как секретарь!
            </div>

        </div>
    }
}

<div id="openModalChangePhoto" class="modal fade" data-url='@Url.Action("ChangePhoto","User",null)'>
    <div id="changeContainer">
    </div>
</div>





@section Scripts{
    <script type="text/javascript">
       



        $(document).ready(function () {

            $("#aducId").click(function () {
                $("#aducInfo").removeClass("hid");
            });

            $("#persInfo").click(function () {
                $("#aducInfo").addClass("hid");
            }); 

            $('#changeId').click(function () {
                var url = $('#openModalChangePhoto').data('url');
                $.get(url,
                    function (data) {
                        $('#changeContainer').html(data);

                        $('#openModalChangePhoto').modal('show');
                    });
            });
        
            $(function () {
                $.ajaxSetup({ cache: false });
                $("#editPer").on("click", function (e) {
                    $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');
                    $('#dialogContent').load(this.href, function () {
                        $('#modDialog').modal({
                            keyboard: true
                        }, 'show');
                        bindFormEditPerson(this);
                    });
                    return false;
                });
            });

               $(function () {
                $.ajaxSetup({ cache: false });
                $("#addAduc").on("click", function (e) {
                    $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');
                    $('#dialogContent').load(this.href, function () {
                        $('#modDialog').modal({
                            keyboard: true
                        }, 'show');
                        bindFormEditPerson(this);
                    });
                    return false;
                });
            });


            function bindFormEditPerson(dialog) {
                $('form', dialog).submit(function () {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.success) {
                                $('#modDialog').modal('hide');
                                location.reload();
                            } else {
                                $('#dialogContent').html(result);
                                bindFormEditPerson();
                            }
                        }
                    });
                    return false;
                });
            }     

        });

    </script>
}
