@model Network.Views.ViewModels.UserIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    if (!User.IsInRole("secretary"))
    {
        <div class="row">

            <div class="col-md-5">
                @if (Model.Image != null)
                {
                    <img class="main-image" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
                }
                else
                {
                    <div class="hovereffect">
                        <img class="main-image " src="@Url.Content("~/Content/Pictures/default.jpeg")" />
                        <div class="overlay">
                            @*<h2>Hover effect 1v2</h2>*@
                            <a class="info" href="#">Добавить фото</a>
                        </div>

                    </div>

                        @*<img class="img-responsive" src="http://placehold.it/350x200" alt="">*@
                       
                }
            </div>
            <div class="col-md-7">
                <div class="row menu-page">
                    <div id="persInfo" class="item-menu text-menu-page hover">МОЙ ПРОФИЛЬ</div>
                    <a href=""><div class="item-menu item-icon fa fa-cog hover"></div></a>
                    <div id="aducId" class="item-menu text-menu-page hover">ОБРАЗОВАНИЕ</div>

                </div>

                <div class=" null-left-pad">
                    <div class="row title-head">
                        @Html.DisplayFor(model => model.Name)
                        @Html.DisplayFor(model => model.Surname)
                    </div>

                    <div id="persInfo">
                        <div class="text-style-info" style="padding-left:80px;">
                            ЛИЧНЫЕ ДАННЫЕ
                        </div>

                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Skype)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Skype)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Direction)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Direction)
                            </div>
                        </div>
                    </div>

                    <div id="aducInfo" class="hid">
                        @Html.Partial("_AducationInfo", Model.Aducation)
                    </div>


                </div>


            </div>



        </div>

    }
    else
    {
        <div>
            Вы вошли как секретарь!
        </div>
    }
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#aducId").click(function () {
                $("#aducInfo").removeClass("hid");
            });

            $("#persInfo").click(function () {
                $("#aducInfo").addClass("hid");
            });            
        });

    </script>
}

        @*$(function () {
            $('#aducId').click(function () {
                debugger
                $("#aducInfo").toggle();;
            })
        })

    $(function () {
        $('#editProf').click(function () {
            $.ajax({
                url: '@Url.Action("EditUser", "User")',
                type: 'GET',
                });
                });
                });*@