@model Network.Views.ViewModels.UserIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    if (!User.IsInRole("secretary"))
    {
        <div class="row">

            <div class="col-lg-6">
                @if (Model.Image != null)
                {
                    <img class="main-image" src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
                }
                else
                {
                    <img class="main-image" src="@Url.Content("~/Content/Pictures/default.jpeg")" />
                }
            </div>
            <div class="col-lg-6">
                <div class="row title-head">
                    @Html.DisplayFor(model => model.Name)
                    @Html.DisplayFor(model => model.Surname)


                </div>
            </div>
        </div>

    }
    else
    {
            <div>
                Вы вошли как секретарь!
            </div>
            }
            }

            @section Scripts{
                <script type="text/javascript">
    $(function () {
        $('#editProf').click(function () {
            $.ajax({
                url: '@Url.Action("EditUser", "User")',
                type: 'GET',
            });
        });
    });
                </script>
            }


            @*<button class="btn" id="editProf" type="submit">Редактировать профиль</button>
                    <div class="btn btn-edit">
                        @Html.ActionLink("Edit", "EditUser", "User")
                    </div>


                </div>

                <div class="col-lg-8">
                    <div class="row ">

                        <div class="page">
                            <div id="userId">@Html.HiddenFor(item => Model.Id)</div>
                            @Html.DisplayFor(model => model.Name)
                        </div>


                        <hr />

                        <div class="row">
                            <div class="col-lg-4"></div>

                            <div class="pageText">
                                Контакты
                            </div>

                            @if (Model.Skype != null)
                            {
                                <div class="row">
                                    @Html.DisplayNameFor(model => model.Skype)
                                    @Html.DisplayFor(model => model.Skype)
                                </div>
                            }


                            @if (Model.PhoneNumber != null)
                            {
                                <div class="row">
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </div>
                            }



                            <div class="pageText">
                                <div class="col-lg-4"></div>

                                Образование
                            </div>*@

            @*@if (Model.Aducation != null)
                                    {
                                        <div class="row">
                                            @Html.DisplayNameFor(model => model.)
                                            @Html.DisplayFor(model => model.Institution)
                                        </div>
                                    }

                                    @if (Model.Specialization != null)
                                    {
                                        <div class="row">
                                            @Html.DisplayNameFor(model => model.Specialization)
                                            @Html.DisplayFor(model => model.Specialization)
                                        </div>
                                    }

                                    @if (Model.StartYear != null)
                                    {

                                        <div class="row">
                                            @Html.DisplayNameFor(model => model.StartYear)
                                            @Html.DisplayFor(model => model.StartYear.Value.Day).@Html.DisplayFor(model => model.StartYear.Value.Month).@Html.DisplayFor(model => model.StartYear.Value.Year)

                                        </div>
                                    }

                                    @if (Model.GradYear != null)
                                    {
                                        <div class="row">
                                            @Html.DisplayNameFor(model => model.GradYear)
                                           @Html.DisplayFor(model => model.GradYear.Value.Day).@Html.DisplayFor(model => model.GradYear.Value.Month).@Html.DisplayFor(model => model.GradYear.Value.Year)


                                        </div>
                                    }

                                    @if (Model.Type != null)
                                    {

                                        <div class="row">
                                            @Html.DisplayNameFor(model => model.Type)
                                            @Html.DisplayFor(model => model.Type)
                                        </div>
                                    }

                            </div>
                        </div>
                    </div>
                </div>*@

