@model Network.Views.ViewModels.UserIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    if (!User.IsInRole("secretary"))
    {
        <div class="row">

            <div class="col-md-5">
                @if (Model.Image != null)
                {
                    <div class="main-image hovereffect">

                        <img src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
                        <div class="overlay">
                            <a class="info" href="#" id="changeId" style="padding-top:120px;">ИЗМЕНИТЬ ФОТО</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="main-image">
                        <div class="hovereffect">
                            <img class="size" src="@Url.Content("~/Content/Pictures/default.jpeg")" alt="">
                            <div class="overlay">
                                <a class="info link-inf" href="#" id="changeId" style="padding-top:120px;">ИЗМЕНИТЬ ФОТО</a>
                            </div>
                        </div>

                    </div>


                }
            </div>
            <div class="col-md-7">
                <div class="body-background">

                    <div class="row menu-page">
                       
                        <div id="persInfo" class="item-menu text-menu-page hover">МОЙ ПРОФИЛЬ</div>
                        <div id="editPer" class="item-menu item-icon fa fa-cog hover"></div>
                        <div id="aducId" class="item-menu text-menu-page hover">ОБРАЗОВАНИЕ</div>
                        <div id="addAduc" class="item-menu item-icon fas fa-plus" hover"></div>

                    </div>
                </div>

                <div class=" null-left-pad">
                    <div class="row title-head">
                        @Html.DisplayFor(model => model.Name)
                        @Html.DisplayFor(model => model.Surname)
                    </div>

                    <div id="persInfo">
                        <div class="text-style-info" style="padding-left:80px;">
                            ЛИЧНЫЕ ДАННЫЕ
                        </div>

                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Skype)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Skype)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 null-left-pad text-style-info">
                                @Html.DisplayNameFor(model => model.Direction)
                            </div>
                            <div class="col-8 null-left-pad text-style-info">
                                @Html.DisplayFor(model => model.Direction)
                            </div>
                        </div>
                    </div>

                    <div id="aducInfo" class="hid">
                        @Html.Partial("_AducationInfo", Model.Aducation)
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="body-background">

            <div class="secretary">
                Вы вошли как секретарь!
            </div>

        </div>
    }
}

<div id="openModalChangePhoto" class="modal fade" data-url='@Url.Action("ChangePhoto","User",null)'>
    <div id="changeContainer">
    </div>
</div>

<div id="openModalEditPersInfo" class="modal fade" data-url='@Url.Action("EditPersInfo","User",null)'>
    <div id="editPersContainer">
    </div>
</div>

<div id="openModalAddAducation" class="modal fade" data-url='@Url.Action("AddAducation","User",null)'>
    <div id="addAducContainer">
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#aducId").click(function () {
                $("#aducInfo").removeClass("hid");
            });

            $("#persInfo").click(function () {
                $("#aducInfo").addClass("hid");
            });

            $('#changeId').click(function () {
                var url = $('#openModalChangePhoto').data('url');
                $.get(url,
                    function (data) {
                        $('#changeContainer').html(data);

                        $('#openModalChangePhoto').modal('show');
                    });
            });



            $('#editPer').click(function () {
                var url = $('#openModalEditPersInfo').data('url');
                $.get(url,
                    function (data) {
                        $('#editPersContainer').html(data);

                        $('#openModalEditPersInfo').modal('show');
                    });
            });


            $('#editAd').click(function () {
                var url = $('#openModalEditAducation').data('url');
                $.get(url,
                    function (data) {
                        $('#editAducContainer').html(data);

                        $('#openModalEditAducation').modal('show');
                    });
            });

            $('#addAduc').click(function () {
                var url = $('#openModalAddAducation').data('url');
                $.get(url,
                    function (data) {
                        $('#addAducContainer').html(data);

                        $('#openModalAddAducation').modal('show');
                    });
            });

        });

    </script>
}
