@model IEnumerable<Network.Views.ViewModels.ConferenceIndexViewModel>
@using Network.Controllers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-background">

    <div class="row menu-page ">
        <div class="align-item-menu">
            <div id="persInfo" class="item-menu text-menu-page" style="padding-right: 30px;">КОНФЕРЕНЦИИ</div>
            @if (User.IsInRole("secretary"))
            {
                <div id="addConfId" class="item-menu text-menu-page hover">ДОБАВИТЬ КОНФЕРЕНЦИЮ</div>
            }
        </div>

    </div>
</div>


    <div class="panel container-show container">
        @foreach (var item in Model)
        {

            <div class="row data-index-list-events item">
                @if (User.IsInRole("group_member"))
                {
                    <div class="col-md-1 icon">
                        @if (item.MemberConferenceStatus)
                        {
                            <span class=" ion-clipboard"></span>
                        }
                        @*else
                        {
                            <img class="icon" src="@Url.Content("~/Content/Pictures/noConf.png")" />

                        }*@
                    </div>
                }
               

                <div class="col-md-1">
                    <div class="item-date left date-show">
                        <h4>@item.Date.Day</h4>
                        <strong>
                            <time class="date-show">@item.Date.ToString("MMMM").ToUpper()</time>
                        </strong>
                        <span>
                            <time  class="date-show">@item.Date.ToString("dddd", new System.Globalization.CultureInfo("ru-RU"))</time>
                        </span>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="item-body left">
                        <div class="title">
                            <a href="@Url.Action("OpenConference", "Conference", new { confId=item.Id })">@item.Thema</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @if (!User.IsInRole("secretary"))
                    {
                        <div class="btn-group butt-decid" role="group" aria-label="Basic example">
                            @{
                                string temp1 = "";
                                string temp2 = "";
                                if (item.ListenerConferenceStatus) { temp1 = "disabled"; }
                                else { temp2 = "disabled"; }
                                <button id="yes" type="button" onclick="location.href='@Url.Action("AddListener", "Conference",new { confId =item.Id})'" class="btn btn-secondary" @temp1>Иду</button>
                                <button id="no" type="button" onclick="location.href='@Url.Action("DeleteListener", "Conference",new { confId =item.Id})'" class="btn btn-secondary" @temp2>Не иду</button>
                            }
                        </div>
                     }
                    @if (User.IsInRole("secretary"))
                    {
                        <div class="btn-group butt-decid" role="group" aria-label="Basic example">
                            <button id="listenerId" onclick="openModal(this)" data-url='@Url.Action("GetListOfListener", "Conference", new { confId = item.Id })'  type="button" class="btn btn-secondary">Слушатели</button>

                            <button id="memberId" onclick="openModal(this)" data-url='@Url.Action("GetListOfMembers", "Conference", new { confId = item.Id })' type="button" class="btn btn-secondary">Участники</button>
                        </div>
                    }






                </div>

                @if (User.IsInRole("secretary"))
                {
                    <div class="col-md-1" style="margin-top: 25px;">
                        <div id="editAd" class="item-menu item-icon fa fa-cog hover"></div>
                    </div>
                }

            </div>
            <hr />

            <div id="openModalGetList" class="modal fade">
                <div id="listContainer">
                </div>
            </div>

            @*<div id="openModalGetList" class="modal fade">
                <div id="listContainer">
                </div>
            </div>*@
                                }

    </div>

<div id="openModalAddConf" class="modal fade" data-url='@Url.Action("AddConference","Conference",null)'>
    <div id="addContainer">
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">

        $('#addConfId').click(function () {
            var url = $('#openModalAddConf').data('url');
            $.get(url,
                function (data) {
                    $('#addContainer').html(data);

                    $('#openModalAddConf').modal('show');
                            });
        });

        function openModal(element) {
            var url = $(element).data('url');
            $.get(url,
                function (data) {
                    $('#listContainer').html(data);

                    $('#openModalGetList').modal('show');
                });

        };

    </script>
}




