@model IEnumerable<Network.Views.ViewModels.ConferenceIndexViewModel>
@using Network.Controllers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
    </div>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "User")"><span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-arrow-left"></span></a></li>
                @if (User.IsInRole("secretary"))
                {
                    <li id="addConferModal"><a href="#">Добавить конференцию<span></span></a></li>
                }
                @*@if (!User.IsInRole("secretary"))
                {
                    <li><a href="@Url.Action("GetListConferenceForUser", "Conference")">Мои конференции<span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon"></span></a></li>
                }*@
            </ul>
        </div>
    </div>
</nav>

<div align="center">
    Конференции
</div>

<div class="panel container-show">
    @foreach (var item in Model)
    {

            <div class="row data-index-list-events item">
                <div class="col-md-1">
                    @if (item.MemberConferenceStatus)
                    {
                        <img class="icon" src="@Url.Content("~/Content/Pictures/checkYesConf.png")" />
                    }
                    else
                    {
                        <img class="icon" src="@Url.Content("~/Content/Pictures/noConf.png")" />

                    }
                </div>

                <div class="col-md-1">
                    <div class="item-date left">
                        <h4>@item.Date.Day</h4>
                        <strong>
                            <time>@item.Date.ToString("MMMM").ToUpper()</time>
                        </strong>
                        <span>
                            <time>@item.Date.ToString("dddd", new System.Globalization.CultureInfo("ru-RU"))</time>
                        </span>

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="item-body left">
                        <div class="title">
                            @item.Thema
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group butt-decid" role="group" aria-label="Basic example">
                        @{
                            string temp1 = "";
                            string temp2 = "";
                            if (item.ListenerConferenceStatus) { temp1 = "disabled"; }
                            else { temp2 = "disabled"; }

                            <button id="yes" type="button" class="btn btn-secondary" @temp1>Иду</button>
                            <button id="no" type="button" class="btn btn-secondary" @temp2>Не иду</button>
                        }
                    </div>
                </div>
            </div>
            <hr />
        }
    
</div>


@section Scripts{
    <script type="text/javascript">
        document.ready = (function () {

            $('#addConferModal').click(function () {
                var url = $('#addConferenceModal').data('url');

                $.get(url,
                    function (data) {
                        $('#addConferenceModal').html(data);

                        $('#addConferenceModal').modal('show');
                    });
            });

            function joinToConf(element) {
                var url = $(element).data('url');

                $.get(url,
                    function (data) {
                        $('#joinContainer').html(data);

                        $('#joinMod').modal('show');
                    });

            };

            function opendaModal(element) {
                var url = $(element).data('url');
                $.get(url,
                    function (data) {
                        $('#listContainer').html(data);

                        $('#listMemm').modal('show');
                    });

            };
        });
    </script>
}




@*@Html.HiddenFor(modelItem => item.Id)
    <div class="row">
    <div class=".data-index-list-events item">
        <div class="item-date left">
            <h4>@item.Date.Day</h4>
            <strong>
                <time>@item.Date.ToString("MMMM").ToUpper()</time>
            </strong>
            <span>
                <time>@item.Date.ToString("dddd", new System.Globalization.CultureInfo("ru-RU"))</time>
            </span>

        </div>
        <div class="item-body left">
            <div class="title">
                @item.Thema
            </div>
        </div>


        <div id="listMemm" class="modal fade">
            <div id="listContainer">
            </div>
        </div>

        <div id="joinMod" class="modal fade">
            <div id="joinContainer">
            </div>
        </div>
        <hr />
        <div id="addConferenceModal" class="modal fade" data-url='@Url.Action("CreateConference", "Conference", null)'>
            <div id="addConferenceModal">
            </div>
        </div>
    </div>
        </div>*@