@model Network.Views.ViewModels.OpenConferenceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:25px; margin-right:20px;">

    <div class="row menu-page menu-cont" >
            <div class="col-md-2 ">
                <a href=@Url.Action("Index","Conference")><i style="padding: 15px 0 0 70px; color:white;" class="fa fa-arrow-circle-left"></i></a>
            </div>
            <div class="text-menu-page col-md-2" style="padding-top: 10px;">
                @Html.DisplayFor(model => model.Thema)
            </div>
           
            <div class="text-menu-page col-md-2" style="padding-top: 10px;">
                 @Html.DisplayFor(m => m.Date, "{0:MM/dd/yy}")
            </div>

            @if (!User.IsInRole("secretary") && !Model.MemberConferenceStatus)
            {
                <div id="takeId" class="col-md-4 item-menu text-menu-page hover"><span class="text-menu-page">РЕГИСТРАЦИЯ</span></div>
            }
            <div class="col-md-3 item-menu text-menu-page hover" >
                <a class="text-menu-page" href="@Url.Action("Reports", "Conference", new { confId=Model.Id})">ДОКЛАДЫ</a>
            </div>
    </div>
</div>



<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-6">
            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
        </div>
        <div class="col-6">
            <a href="@Url.Action("DownloadRequirements", "Conference",new {confId=Model.Id})"><i class="fa fa-arrow-alt-circle-down"></i></a><span class="linkForDowload">ТРЕБОВАНИЯ(скачать)</span>
            <div class="form-details">@Model.Details</div>        
        </div>
    </div>
</div>

<div id="openModalJoinToConf" class="modal fade" data-url='@Url.Action("JoinToConference","Conference",new { confId = Model.Id},null)'>
    <div id="joinContainer">
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#takeId').click(function () {
                var url = $('#openModalJoinToConf').data('url');
                $.get(url,
                    function (data) {
                        $('#joinContainer').html(data);

                        $('#openModalJoinToConf').modal('show');
                    });
            });


            $('#editAd').click(function () {
                var url = $('#openModalEditAducation').data('url');
                $.get(url,
                    function (data) {
                        $('#editAducContainer').html(data);

                        $('#openModalEditAducation').modal('show');
                    });
            });

        });

    </script>
}






















