@model Network.Views.ViewModels.OpenConferenceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:25px; margin-right:20px;">

    <div class="row menu-page">
            <div class="text-menu-page col-md-4">
                @Html.DisplayFor(model => model.Thema)
            </div>
           
            <div class="text-menu-page col-md-2" style="padding-top: 10px;">
                 @Html.DisplayFor(m => m.Date, "{0:MM/dd/yy}")
            </div>

            @if (!User.IsInRole("secretary") && !Model.MemberConferenceStatus)
            {
                <div id="takeId" class="col-md-2" style="padding-top: 10px;"><span class="hover text-menu-page">РЕГИСТРАЦИЯ</span></div>
            }
        <div class="col-md-2" style="padding-top: 10px;"><span class="text-menu-page hover">ДОКЛАДЫ</span></div>


            <div class="text-menu-page col-md-2" style="padding-top: 10px;">
                @Html.DisplayFor(model => model.Direction)
            </div>
    </div>
</div>

<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-6">
            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Image)" />
        </div>
        <div class="col-6">
            <a href="@Url.Action("DownloadRequirements", "Conference",new { confId=Model.Id})"><span class="linkForDowload">ТРЕБОВАНИЯ</span></a>
            <div class="form-details">@Model.Details</div>
        
        </div>
    </div>
</div>







<div id="openModalJoinToConf" class="modal fade" data-url='@Url.Action("JoinToConference","Conference",new { confId = Model.Id})'>
    <div id="joinContainer">
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#takeId').click(function () {
                var url = $('#openModalJoinToConf').data('url');
                $.get(url,
                    function (data) {
                        $('#joinContainer').html(data);

                        $('#openModalJoinToConf').modal('show');
                    });
            });


            $('#editAd').click(function () {
                var url = $('#openModalEditAducation').data('url');
                $.get(url,
                    function (data) {
                        $('#editAducContainer').html(data);

                        $('#openModalEditAducation').modal('show');
                    });
            });

        });

    </script>
}






















