@model Network.DAL.EFModel.Conference
@{
    ViewBag.Title = "OpenConference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Conference")"><span style="font-size: 16px; margin-top:5px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-arrow-left"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="nav navbar-nav">
                        <h3 style="color:white; text-align:center;">
                            @Html.DisplayFor(model => model.Thema)
                        </h3>
                    </ul>
                </div>
                <div class="col-md-3">

                    <ul class="nav navbar-nav">
                        <a href="@Url.Action("JoinToConference", "Conference", new { confId=Model.Id })">
                            <span class="glyphicon glyphicon-plus" style="margin-top:20px;color:white;"></span>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="time">
    <time>@Model.Date.ToString()</time>
</div>




<br/>
@Html.DisplayFor(model => model.Direction)
<br />

@Html.DisplayFor(model => model.Details)
<br />










