@model Network.Views.ViewModels.OpenConferenceViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-background">

    <div class="row menu-page ">
        <div class="align-item-menu">
            <div class="item-menu text-menu-page" style="padding-right: 30px;">@Html.DisplayFor(model => model.Thema)</div>
            <div class="item-menu text-menu-page" style="padding-right: 30px;">
                @Html.DisplayFor(m => m.Date, "{0:MM/dd/yy}")
            </div>
            @if (!User.IsInRole("secretary") && !Model.MemberConferenceStatus)
            {
                <div id="takeId" style="color:white;" class="item-menu item-icon fa fa-plus hover "><span class="text-menu-page">регистрация</span></div>
            }

            <div class="item-menu text-menu-page" style="margin-left: 400px;">@Html.DisplayFor(model => model.Direction)</div>
                
            </div>

    </div>
</div>

<div class="container container-show">
    @Html.DisplayFor(model => model.Details)
</div>

<div id="openModalJoinToConf" class="modal fade" data-url='@Url.Action("JoinToConference","Conference",new { confId = Model.Id})'>
    <div id="joinContainer">
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#takeId').click(function () {
                var url = $('#openModalJoinToConf').data('url');
                $.get(url,
                    function (data) {
                        $('#joinContainer').html(data);

                        $('#openModalJoinToConf').modal('show');
                    });
            });


            $('#editAd').click(function () {
                var url = $('#openModalEditAducation').data('url');
                $.get(url,
                    function (data) {
                        $('#editAducContainer').html(data);

                        $('#openModalEditAducation').modal('show');
                    });
            });

        });

    </script>
}






















